
.field-container {
    display: flex;

    & > * {
        margin: 0px 8px;
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .field-container {
        display: block;
    }

    .field-container {
        display: relative;
    
        & > * {
            margin: 0px 8px;
        }
    }
}
