
.table {
    padding: 20px;
    text-align: center;

    // width: 100%;
}

.table tr td {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

.delete {
    color: red;
}

.done {
    color: green;
}

mat-icon {
    cursor: pointer;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .table tr td .delete .done mat-icon {
        display: block;
    }

    .table {
        position: relative;
        padding: 20px;
        width: 1200px;
        min-width: 100%;
        max-width: 100%;
    }
    
    .table tr td {
        position: relative;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        padding: 15px;
    }
    
    .delete {
        color: red;
    }
    
    .done {
        color: green;
    }
    
    mat-icon {
        cursor: pointer;
    }
    
}
